body {
  background-color: rgb(211, 185, 176);
}
.titulo {
  text-align: center;
  color: aliceblue;
  background-color: rgb(143, 100, 85);
  font-size: 50px;
}
.botones {
  font-weight: bold;
  background-color: rgb(56, 24, 13);
  color: aliceblue;
  width: 200px;
  border-color: rgb(151, 151, 151);
}
.botones:hover {
  background-color: rgb(165, 55, 18);
}
#fecha {
  font-size: 12px;
  font-style: italic;
}
.alumnos {
  width: 150px;
}
#aplazado {
  color: red;
}
